/* DISPLAY PAGE */
* {
	font-family: 'Roboto', sans-serif;
}

img#logostart{
	height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

h2#welcome{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: 'Love Ya Like A Sister', cursive;
	font-size: 60px;
	margin-top: 30%;
	margin-bottom: 50px;
}
img#logo {
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
 }

h1#volunteerheader{
	margin-left: auto;
	margin-right: auto;
	display: table;
	margin-top: 100px;
	margin-bottom: 50px;
	font-size: 100px;
	font-family: 'Love Ya Like A Sister', cursive;;
}

select#selecttable{
	width: 70%;
	height: 200px;
	margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
form#auction-list {
	color: #7c2529;
}

button#reselect {
	font-family: 'Roboto', sans-serif;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 50px;
	font-size: 60px;
	border: 1px solid red;
	background-color: white;
	color: black;
}
button#reselect:hover {
	background-color: #7c2529;
	font-color:white;
}

#auction-list {
	font-size: 60px;
}

input#submit {
	width: 70%;
	height:200px;
	background-color: #de5958;
	font-size: 50px;
	margin-top: 200px;
	margin-left: auto;
  margin-right: auto;
  display: block;
}
input#submit:hover{
	background-color: #d22630;
	opacity: .9	;
}

select{
	margin-bottom: 100px;
	font-size: 100px;
	min-height: 150px;
	max-width: 400px;
}
option {
	font-size: 100px;
	max-width: 400px;

}


li {
	list-style-type: none;
	font-size: 50px;
}