<div class="row">
	<div class="small-12 columns" id="new_table">
		<form action='/admin' method='post'>
			Table No: <input type='text' name='table-number'>
			Guest List: <input type='text' name='guestlist'>
			<input type='submit' value='Submit'>
		</form>
	</div>
</div>