<div class="row">
	<div class="small-12 columns">
		<form action='/volunteer' method='post'>
			Table No: <input type='text' name='table-number'>
			Guest List: <input type='text' name='guestlist'>
		</form>
	</div>
</div>