<div class="row">
	<div class="small-12 columns">
		<h1>Display</h1>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<ul>
		<% @items.each do |item| %>
			<li>
				<img src="images/<%= item.title %>">
			<%= item.total %>
			<%= item.names %>
			</li>
		<% end %>
		</ul>
	</div>
</div>