<div class="row">
	<div class="small-12 columns">
		<h1>Display</h1>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<ul>
			<% if @totalitems %>
				<% @totalitems.each do |item| %>
					<li>
						<img src="images/<%= item.title %>">
					</li>
				<% end %>
			<% end %>
		</ul>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<ul>
			<% if @items %>
				<% @items.each do |item| %>
					<li>
						<%= item.names %>
					</li>
				<% end %>
			<% end %>
		</ul>
	</div>
</div>r