<div class="row">
	<div class="small-12 columns">
		<h1>Display</h1>
	</div>
</div>

<input type="text" id="input" />

<div class="row">
	<div class="small-12 columns">
		<ul id="messages">

		</ul>
	</div>
</div>


