<!doctype html>
<html lang="en">
  <head>
    <title>Future Hope</title>
    <link rel="stylesheet" href="css/foundation.css" />
  </head>
  <body>
  	<%= yield %>
	<script src="js/foundation.js"></script>

  </body>
</html>