<div class="row">
	<div class="small-12 columns">
		<h1>Volunteer </h1>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<div id="new-item">
			<form action='/display' method='post'>
				Auction Item: 
				<select name='title'>
				  <option value="Sponsor A Child">Sponsor A Child</option>
				  <option value="Teacher">Teacher</option>
				  <option value="3-yr University Place">3-yr University Place</option>
				  <option value="Home For A Child">Home For A Child</option>
				  <option value="Activities">Activities</option>
				</select>
				Names of pledges given:
				<select id="guest-list" name="names[]" size="10" multiple>
			    <option value="Peter">Peter</option>
			    <option value="Izzy">Izzy</option>
			    <option value="Clare">Clare</option>
			    <option value="Jack">Four</option>
			    <option value="Mishal">Five</option>
			  </select>	
				Total: <input type='text' name='total'>
				<input type='submit' value='Submit'>
			</form>
		</div>
	</div>
</div>
<script>
(function() {
  var selected = {};
  $('#guest-list').click(function(e) {
    var $this = $(this),
      options = this.options,
      option,
      value,
      n;  
      // Find out what option was just added
      value = $this.val();    
      // Re-apply the selections
      for (n = 0; n < options.length; ++n) {
        option = options[n];
        if (option.value == value) {
          // The one being updated
          selected[value] = !selected[value];
         }
        // One of the others
        option.selected = !!selected[option.value];
      }
      return false;
    });
  })();
</script>