<div class="row">
	<div class="small-12 columns">
		<img id="logo" src="images/logo.jpg">
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<h1 id="volunteerheader">Table <% if @number %><%= @number %><% end %></h1>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<div id="new-item">
			<form action='/display' id='auction-list' method='post'>
				<select name="title" id="item">
					<option class="options-list">Auction Item</option>
				  <option class="options-list" value="rugby.png">Rugby Program (1 available)</option>
				  <option value="cricket.png">Cricket Program (1 available)</option>
				  <option value="rowing.png">Rowing Program (1 available)</option>
				  <option value="football.png">Football (already sold)</option>
				  <option value="houseparent.png">Home with House-Parent</option>
				  <option value="university.png">3-yr University Course</option>
				  <option value="teacher-year.png">Teacher (1 yr)</option>
				  <option value="child-year.png.">Child Off The Streets (1 yr)</option>
				  <option value="activities.png">Activities</option>
				  <option value="teacher-month.png">Teacher (1 month)</option>
				  <option value="child-month.png">Child Off The Streets (1 month)</option>
				</select>
				<select id="guest-list" name="names[]" size="10" multiple>
					<% if @all_table_names %>
						<% @all_table_names.each do |guest| %>
					    <option value="<%= guest %>"><%= guest %></option>
					  <% end %>
				  <% end %>
			  </select>	
				<input type='submit' id="submit" value='SUBMIT'>
			</form>	
			<button type="submit" action="/volunteer-table" value="reselect" id="reselect">Reselect Table</button>
		</div>
	</div>
</div>
