<div class="row">
	<div class="small-12 columns">
		<h1>Volunteer </h1>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<div id="new-item">
			<form action='/display' method='post'>
				Auction Item: 
				<select name='title'>
				  <option value="Sponsor A Child">Sponsor A Child</option>
				  <option value="Teacher">Teacher</option>
				  <option value="3-yr University Place">3-yr University Place</option>
				  <option value="Home For A Child">Home For A Child</option>
				  <option value="Activities">Activities</option>
				</select>



				Names of pledges given:
				<br>

				
				Total: <input type='text' name='total'>
				<input type='submit' value='Submit'>
			</form>
		</div>
	</div>
</div>